.header{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  svg{
    fill: #fff !important;
  }
  a{
    transition: color 0.4s;
    white-space: nowrap;
    &:hover{
      color:#31F3FF !important;
      }
  }
  &__container{

  }
  &__body{
    @include aligned-flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__logo-header{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
  }
  .nav{
    &__link{
      font-weight: var(--fw-Medium);

    }
    &__list{
      @include aligned-flex;
      &>*:not(:last-child){
        padding-right: 1.68rem;
      }
    }
  }
  .lang{
    color: var(--white-color);
    height: 1rem;
    &__body{

    }
    &__eng{
      cursor: pointer;
      &:hover .lang__select{
        opacity: 1;
      }
      img{
        transition: transform .3s ease;
      }
      &:hover img{
        transform: rotate(180deg)
      }
    }
    ._lang__flex{
      @include aligned-flex;
      gap: 5px;
      img{
        height: 7px;
      }
    }
    .lang__select{
      background: linear-gradient(180deg, #20C0FF 0%, #FB3FFF 100%), #C4C4C4;
      max-width: 3.375rem;
      cursor: pointer;

    }
    &__select{
      border-radius: 8px;
      opacity: 0;
      transition: opacity .6s;
      visibility: hidden;
    }
    ._select-active{
      opacity: 1;
      visibility: visible;
    }
    &__select-item{
      padding: 5px 12px 5px 12px;
      font-weight: 600;
      &:nth-child(2) {
        opacity: 0.5;
      }
    }
  }
  &__func,
  &__options{
    @include aligned-flex;
  }
  &__options{
    gap: 2.05rem;
  }
  &__func{
    gap: 1.875rem;
  }
  &__line{
    display: block;
    width: 1px;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
  &__wallet{
    background-color: transparent;
    color: var(--blue-color);
    text-transform: uppercase;
    font-weight: var(--fw-Bold);
    white-space: nowrap;
  }
}


.nav{
  &__link{

  }
}

@include big-desktop{
  .header{
    font-size: 11px;
  }
}


.header__logo {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  position: relative;
}
.header__logo img {
  width: calc(170px + (67 + 67 * 0.25) * ((100vw - 375px) / 1920));
}
.header__logo.logo_shadow {
  margin: auto;
  pointer-events: none;
  opacity: 0;
}
.header__logo:not(.logo_shadow) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header{

  display: block !important;
}

.header {
  position: relative;
  padding: calc(15px + (5 + 40 * 0.25) * ((100vw - 375px) / 1920))
    calc(15px + (55 + 55 * 0.25) * ((100vw - 375px) / 1920))
    calc(15px + (5 + 50 * 0.25) * ((100vw - 375px) / 1920))
    calc(15px + (55 + 55 * 0.25) * ((100vw - 375px) / 1920));
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 102.2%;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header * a {
  transition: color 0.6s;
}
.header * a:hover {
  color: #31f3ff;
}
.header__nav {
  display: flex;
  width: calc(100% / 3);
}
.header__nav a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  margin-right: calc(10px + (10 + 10 * 0.25) * ((100vw - 1401px) / 1550));
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__logo {
  /* width: calc(100% / 3); */
  display: flex;
  justify-content: center;
  position: relative;
}
/* .header__logo::before{ content: "YOUR NEW FUTURE WORLD"; white-space: nowrap; position: absolute; left: 50%; color: #fff; bottom: calc(-20px - (8 + 8 * 0.25) * ((100vw - 375px) / 1920)); font-weight: 400; font-size: calc(8px + (2 + 2 * 0.25) * ((100vw - 375px) / 1920)); line-height: 12px; letter-spacing: 0.165em; -webkit-transform: translate(-50%); transform: translate(-50%); cursor: default; } */
.header__logo img {
  width: calc(170px + (67 + 67 * 0.25) * ((100vw - 375px) / 1920));
}
.header__logo.logo_shadow {
  margin: auto;
  pointer-events: none;
  opacity: 0;
}
.header__logo:not(.logo_shadow) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__action {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__action-item {
  display: flex;
  align-items: center;
}
.header__action-item div,
.header__action-item p,
.header__action-item > a {
  margin-right: 25px;
}
.header__action-item div:last-child,
.header__action-item p:last-child,
.header__action-item > a:last-child {
  margin-right: 0;
}
.header__socials {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header__socials a {
  margin-right: 20px;
}
.header__socials a:last-child {
  margin-right: 0;
}
.header__socials svg {
  min-width: 18px;
  min-height: 18px;
  max-width: 21px;
  max-height: 21px;
}
.header__socials svg,
.header__socials svg g,
.header__socials svg path {
  fill: #fff !important;
}
.header__flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.burger{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div{
    height: 2px;
    width: 19px;
    background-color: #fff;

  }
}

.menu{
  z-index: 999 !important;
}

._active-menu{
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.burger{
  display: none !important;
}

@media (max-width: 1340px) {
  .header{
    &__nav{
      display:none !important;
    }
    &__options{
      display:none;
    }
  }
  .burger{
    display: flex !important;
  }
  .header{
    &__nav-mob{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 15px;
      font-size: 20px;
      margin-bottom: 35px;
    }
  }
}
