<div id="games" class="games">
  <h2 class="title" data-aos="fade-up">
    Games & investment </h2>
  <div class="games__wrapper">
      <div class="games__card" data-aos="fade-left" data-aos-delay="300">
          <img src="img/investments/inv-image-1.png" alt="" />
      </div>

      <div class="games__card" data-aos="fade-left" data-aos-delay="400"><img src="../img/investments/inv-image-2.png" alt="" /></div>
      <div class="games__card _third-image" data-aos="fade-left" data-aos-delay="500"><img src="../img/investments/inv-image-3.png" alt="" /></div>
      <div class="games__card" data-aos="fade-left" data-aos-delay="600"><img src="../img/investments/inv-image-4.png" alt="" /></div>
      <div class="games__card" data-aos="fade-left" data-aos-delay="700"><img src="../img/investments/inv-image-5.png" alt="" /></div>
      <div class="games__card _sixth-image" data-aos="fade-left" data-aos-delay="800"><img src="../img/investments/inv-image-6.png" alt="" /></div>
      <div class="games__card" data-aos="fade-left" data-aos-delay="900"><img src="../img/investments/inv-image-7.png" alt="" /></div>
      <div class="games__card" data-aos="fade-left" data-aos-delay="1000"><img src="../img/investments/inv-image-8.png" alt="" /></div>
  </div>
  <div class="games__descr" data-aos="fade-up" data-aos-delay="400">Join our Discord server to become a part of our community, and stay up to date with the GameFi industry and important Meta DAO Guild news. </div>
  <button class="btn btn_games join" data-aos="fade-up" data-aos-delay="600" onclick="gtag('event', 'click_join_discord');"><img src="../img/investments/discord-icon.svg" alt="" /> JOIN NOW ON DISCORD</button>
</div>
