<section class="hero" >
  <div class="hero__container _container">
    <div class="hero__body" data-aos="zoom-in" data-aos-duration="600">
      <div class="hero__heading">
        <h1 class="hero__title">Meta dao GUILD</h1>
        <div class="hero__subtitle">Infrastructural solution for gamefi
        </div>
        <div class="hero__info">
          <div class="hero__offer">
            <span>set up</span> and <span>boost</span> your income from P2E gaming and NFTs
          </div>
          <a href="#" class="hero__join">
            join scholarship
          </a>
          <div class="hero__social">
            <a href="#" class="hero__social-item _discord">
              <img src="../img/icons/discord.svg" alt="discord">
              <span>30 000</span>
            </a>
            <a href="#" class="hero__social-item _tg">
              <img src="../img/icons/tg.svg" alt="tg">
              <span>30 000</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__image-left" data-aos="fade-right" data-aos-delay="200">
      <img src="../img/hero/left-planet-img.png" alt="left-planet">
    </div>
    <div class="hero__image-right" data-aos="fade-left" data-aos-delay="400">
      <img src="../img/hero/right-planet-image.png" alt="right-planet">
    </div>
    <div class="hero__center">
      <img src="../img/hero/centred-planet.png" alt="centered-image">
    </div>
  </div>
</section>
