<section class="default-section">
  <div class="container main-container">
      <div class="title__wrapper"><h2 class="media__title title_colored">Mass media about us</h2></div>
      <div class="media">
          <a class="media__item" data-aos="fade-left" target="_blank" href="https://www.marketwatch.com/press-release/meta-dao-guild-announces-exclusive-private-token-sale-of-95000000-mdgg-2022-02-20?mod=search_headline">
              <img src="img/media/me-1.png" alt="">
          </a>
          <a class="media__item" data-aos="fade-left" target="_blank" href="https://finance.yahoo.com/news/meta-dao-guild-announces-exclusive-172000916.html">
              <img src="img/media/me-2.png" alt="">
          </a>
          <a class="media__item" data-aos="fade-left" target="_blank" href="https://apnews.com/press-release/prodigy-news/business-9d5a840698efd4300f8b2e7e2785ccc4">
              <img src="img/media/me-3.png" alt="">
          </a>
          <a class="media__item" data-aos="fade-left" target="_blank" href="https://www.benzinga.com/markets/cryptocurrency/22/02/25711081/5-top-challenges-nft-games-could-face-in-2022">
              <img src="img/media/me-4.png" alt="">
          </a>
          <a class="media__item" data-aos="fade-right" target="_blank" href="http://finance.dailyherald.com/dailyherald/news/read/42206171/meta_dao_guild_announces_exclusive_private_token_sale_of_95">
              <img src="img/media/me-5.png" alt="">
          </a>
          <a class="media__item" data-aos="fade-right" target="_blank" href="https://www.newsbtc.com/news/company/gamefi-and-nft-what-projects-will-blow-up-the-industry-in-2022/">
              <img src="img/media/me-6.png" alt="">
          </a>
          <a class="media__item" data-aos="fade-right" target="_blank" href="https://www.forbes.com/sites/kenrapoza/2022/02/26/russias-access-to-dollars-in-jeopardy-can-bitcoin-make-a-difference/?sh=2f46288d70d5">
              <img src="img/media/me-7.png" alt="">
          </a>
          <a class="media__item" data-aos="fade-right" target="_blank" href="https://www.ibtimes.com/pros-cons-play-earn-model-games-3410055">
              <img src="img/media/me-8-2.png" alt="">
          </a>
      </div>
  </div>
</section>
