<div class="milestone">
  <div class="title__wrapper"><h2 class="milestone__title" data-aos="fade-up">earn from gamefi
    with meta dao guild </h2></div>

  <div class="milestone__wrapper">
    <div class="milestone__top-content">
      <div class="milestone__item" data-aos="fade-right" data-duration="2000" data-aos-delay="400">
        <p class="milestone__top-info">
                  Want to make money on
        GameFi, but don’t have the
        opportunity to buy NFT?
        </p>
        <div class="milestone__mid-block">
          <img src="img/earn-and-play/play-button.svg" alt="play-btn">
          <span class="milestone__mid-block_info">scholarship</span>
        </div>
        <p class="milestone__bottom-info">
          Become our scholar, go
  through free training and
  get gaming NFT
  from the Guild.
        </p>
      </div>
      <div class="milestone__item" data-aos="fade-left" data-duration="2000" data-aos-delay="600">
        <p class="milestone__top-info">
          Have a gaming NFT but
          no time to play?
        <div class="milestone__mid-block">
          <img src="img/earn-and-play/play-button.svg" alt="play-btn">
          <span class="milestone__mid-block_info">Meta rent</span>
        </div>
        <p class="milestone__bottom-info">
          Rent out gaming NFTs
          and earn passive income
        </p>
      </div>
    </div>
  </div>
  <div class="milestone__interactive" data-aos="fade-up" data-duration="1000">
      <div class="milestone__interactive-wrapper">
          <img src="img/earn-and-play/image-1.png" alt="" /> <img src="img/earn-and-play/image-2.png" alt="" /> <img src="img/earn-and-play/image-3.png" alt="" /> <img src="img/earn-and-play/image-4.png" alt="" />
          <img src="img/earn-and-play/image-5.png" alt="" /> <img src="img/earn-and-play/image-6.png" alt="" />
      </div>
  </div>
</div>
