<section class="partners">
  <div class="partners__container _container">
    <div class="partners__body">
      <h5 class="partners__title title_colored" data-aos="fade-down">Our partners</h5>
      <div class="partners__content">
        <a href="#" class="partners__link" data-aos="fade-right">
          <img src="../img/partners/partners-image-dao.png" alt="dao-image">
        </a>
        <a href="#" class="partners__link" data-aos="fade-left">
          <img src="../img/partners/partners-image-guildx.png" alt="dao-image">
        </a>
      </div>
    </div>
  </div>
</section>
