<section class="rent">
  <div class="rent__container _container">
    <div class="rent__body">
      <div class="rent__heading scholar__heading">
        <h4 class="rent__title scholar__title _default-title" data-aos="fade-up" >meta rent</h4>
        <div class="rent__subtitle scholar__subtitle" data-aos="fade-up" data-aos-delay="300">Do you want to earn passive income from gaming NFTs? Rent out your assets!</div>
      </div>
      <div class="rent__content">
        <div class="rent__left-image" data-aos="fade-right" data-aos-delay="500">
          <img src="../img/rent/rent-image.png" alt="rent-image">
        </div>
        <div class="rent__descr" data-aos="fade-left" data-aos-delay="700">
          <div class="rent__descr-top scholar__descr-top">
            <div class="rent__descr-item scholar__descr-item">
              <div class="rent__descr-icon scholar__descr-icon">
                <img src="../img/scholar/check-1.svg" alt="check-1">
              </div>
              <p class="rent__descr-text scholar__descr-text">
                Choose the game and apply scholarship
              </p>
            </div>
            <div class="rent__descr-item scholar__descr-item">
              <div class="rent__descr-icon scholar__descr-icon">
                <img src="../img/scholar/check-2.svg" alt="check-1">
              </div>
              <p class="rent__descr-text scholar__descr-text">
                Get trained by a mentor from the Meta DAO Guild
              </p>
            </div>
            <div class="rent__descr-item scholar__descr-item">
              <div class="rent__descr-icon scholar__descr-icon">
                <img src="../img/scholar/check-3.svg" alt="check-1">
              </div>
              <p class="rent__descr-text scholar__descr-text">
                Get the scholar status, start play and earn!
              </p>
            </div>
        </div>
        <div class="rent__bottom scholar__bottom">
          <div class="rent__button scholar__button">
            <a href="#" class="rent__join scholar__join hero__join">rent out your nft</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
