<section class="scholar">
  <div class="scholar__container _container">
    <div class="scholar__body">
      <div class="scholar__heading">
        <h3 class="scholar__title _default-title" data-aos="fade-up">Scholarship</h3>
        <div class="scholar__subtitle" data-aos="fade-up" data-aos-delay="300">Do you want to earn money by playing games? Join Meta DAO Guild - we will teach you and give you NFT for a game!</div>
      </div>
        <div class="scholar__content">
            <div class="scholar__descr" data-aos="fade-right" data-aos-delay="500">
              <div class="scholar__descr-top">
                <div class="scholar__descr-item">
                  <div class="scholar__descr-icon">
                    <img src="../img/scholar/check-1.svg" alt="check-1">
                  </div>
                  <p class="scholar__descr-text">
                    Choose the game and apply scholarship
                  </p>
                </div>
                <div class="scholar__descr-item">
                  <div class="scholar__descr-icon">
                    <img src="../img/scholar/check-2.svg" alt="check-1">
                  </div>
                  <p class="scholar__descr-text">
                    Get trained by a mentor from the Meta DAO Guild
                  </p>
                </div>
                <div class="scholar__descr-item">
                  <div class="scholar__descr-icon">
                    <img src="../img/scholar/check-3.svg" alt="check-1">
                  </div>
                  <p class="scholar__descr-text">
                    Get the scholar status, start play and earn!
                  </p>
                </div>
              </div>
              <div class="scholar__bottom">
                <div class="scholar__button">
                  <a href="#" class="scholar__join hero__join">join scholarship</a>
                </div>
              </div>
            </div>
            <div class="scholar__images" data-aos="fade-left" data-aos data-aos-delay="700">
              <img src="../img/scholar/image-road.png" alt="scholar-image">
            </div>
        </div>
    </div>
  </div>
</section>
