<section class="default-section t-wrapper">
  <div class="container main-container">
      <div class="title__wrapper"><h2 class="title title_colored" data-aos="fade-up">Our team</h2></div>
      <div class="team">


          <div class="team__col" data-aos="fade-left" data-aos-delay="400">
              <div class="team__item" style="background-image: url('../img/team/team-image-1.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Mission Chukwudi</div>
                  <div class="team__position">HEAD OF COMMUNITY</div>
                  <div class="team__soc">
                      <a href="https://www.linkedin.com/in/aghaonu-johnbosco-arinze/" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>

          <div class="team__col" data-aos="fade-left" data-aos-delay="500">
              <div class="team__item" style="background-image: url('../img/team/team-image-2.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Alexandra Khanova</div>
                  <div class="team__position">COO</div>
                  <div class="team__soc">
                      <a href="https://www.linkedin.com/in/mission-chukwudi-188688104" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>

          <div class="team__col" data-aos="fade-left" data-aos-delay="600">
              <div class="team__item" style="background-image: url('../img/team/team-image-3.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Grigoriy Levterov</div>
                  <div class="team__position">Head Of Product</div>
                  <div class="team__soc">
                      <a href="https://www.linkedin.com/in/alexandra-khanova/" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>


          <div class="team__col" data-aos="fade-left" data-aos-delay="700">
              <div class="team__item" style="background-image: url('../img/team/team-image-4.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Roman Andruschyshyn</div>
                  <div class="team__position">cmo</div>
                  <div class="team__soc">
                      <a href="" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>


          <div class="team__col" data-aos="fade-left" data-aos-delay="800">
              <div class="team__item" style="background-image: url('../img/team/team-image-5.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Ugochukwu
                    Kingsley Nwanaji</div>
                  <div class="team__position">php developer</div>
                  <div class="team__soc">
                      <a href="" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>

          <div class="team__col" data-aos="fade-left" data-aos-delay="900">
              <div class="team__item" style="background-image: url('../img/team/team-image-6.png');">

                  <div class="team__effects"></div>
                  <div class="team__name">Sikander Mushtaq</div>
                  <div class="team__position">Application Developer</div>
                  <div class="team__soc">
                      <a href="https://www.linkedin.com/in/ugochukwu-nwanaji-1b7163b9" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>


          <div class="team__col" data-aos="fade-left" data-aos-delay="1000">
              <div class="team__item" style="background-image: url('../img/team/team-image-7.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Hamza Latif</div>
                  <div class="team__position">Android developer</div>
                  <div class="team__soc">
                      <a href="https://www.linkedin.com/in/sikander-mushtaq-685215212" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>

          <div class="team__col" data-aos="fade-left" data-aos-delay="1100">
              <div class="team__item" style="background-image: url('../img/team/team-image-8.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Renat Suleimankadyev</div>
                  <div class="team__position">head of scholarship</div>
                  <div class="team__soc">
                      <a href="https://www.linkedin.com/in/hamza-latif-b659a61a8/" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>

          <div class="team__col" data-aos="fade-left" data-aos-delay="1200">
              <div class="team__item" style="background-image: url('../img/team/team-image-9.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Roman Goriunov</div>
                  <div class="team__position">project and product management advisor</div>
                  <div class="team__soc">
                      <a href="https://www.linkedin.com/in/chinonso-odemene-8600b8232" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>
          <div class="team__col" data-aos="fade-left" data-aos-delay="1300">
              <div class="team__item" style="background-image: url('../img/team/team-image-10.png');">
                  <div class="team__effects"></div>
                  <div class="team__name">Daniel Monchar</div>
                  <div class="team__position">business development advisor</div>
                  <div class="team__soc">
                      <a href="" target="_blank"><img src="../img/team/linkeding.svg" alt=""></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
