<div class="welcome">
  <div class="title__wrapper">
      <h2 class="title title_colored" data-aos="fade-up">
          WELCOME TO <br> META DAO GUILD        </h2>
          <p class="welcome__subtitle" data-aos="fade-up" data-aos-delay="300">
            Join Meta DAO Guild and start earning on GameFi!
          </p>
  </div>
      <div class="container main-container">
      <div class="promo__buttons">
          <a href="https://discord.com/invite/qQAaubgc9M" class="welcome__btn btn btn_flex" data-aos="fade-right" data-aos-delay="300" target="_blank">
             <img src="../img/icons/discord.svg" alt="">
            <span>  Join on discord   </span>         </a>

          <a href="https://t.me/metadao_ann" class="welcome__btn btn btn_flex" data-aos="fade-left" data-aos-delay="300" target="_blank">
            <img src="../img/icons/tg.svg" alt="">
              <span> Join on telegram   </span>         </a>
      </div>
  </div>
  <div class="welcome__interactive" data-aos="fade-down">
      <img src="../img/welcome/image-6.png" alt="" /> <img src="../img/welcome/image-2.png" alt="" /> <img src="../img/welcome/image-5.png" alt="" /> <img src="../img/welcome/image-4.png" alt="" /> <img src="../img/welcome/image-1.png" alt="" />
      <img src="../img/welcome/image-3.png" alt="" />
  </div>
</div>
