<!-- <!-- <header class="header">
  <div class="header__container">
    <div class="header__body">
      <div class="header__nav">
        <nav class="nav">
          <div class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">whitepaper</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Meta rent</a></li>
            <li class="nav__item"><a href="#" class="nav__link">scoolarship</a></li>
            <li class="nav__item"><a href="#" class="nav__link">mogg token</a></li>
            <li class="nav__item"><a href="#" class="nav__link">team</a></li>
          </div>
        </nav>
      </div>
        <a href="#" class="header__logo-header">
          <img src="../img/header/logo.svg" alt="logo-image">
        </a>
      <div class="header__options">
        <div class="header__func">
          <div class="lang">
            <div class="lang__body">
              <div class="lang__eng _lang__flex">
                <span>EN</span>
                <img src="../img/header/dropdown-icon.svg" alt="drpdown-icon">
              </div>
              <ul class="lang__select">
                <li class="lang__select-item">EN</li>
                <li class="lang__select-item">RU</li>
              </ul>
            </div>
          </div>
          <a href="#" class="header__login">
            Log in
          </a>
          <a href="#" class="header__sign-in">
            Sign up
          </a>
        </div>
        <span class="header__line"></span>
        <div class="header__btn">
          <button class="header__wallet">Connect Wallet</button>
        </div>
      </div>
    </div>
  </div>
</header> -->

<!-- <header class="header desktop">
  <nav class="header__nav">
    <a href="https://docs.metadao.gg/" target="_blank">WHITEPAPER</a>
    <a href="#units">OUR UNITS</a>
    <a href="#features">KEY FEATURES</a>
    <a href="#games">GAMES</a>
    <a href="#tokenomics">TOKENOMICS</a>
    <a href="#roadmap">ROADMAP</a>
  </nav>
  <div class="header__logo logo_shadow"><img src="../img/header/logo.svg" alt="" /></div>
  <a href="/" class="header__logo"><img src="../img/header/logo.svg" alt="" /></a>
  <div class="header__action">
            <div class="header__action-item">
      <div class="language">
        <p>EN</p>
        <img class="language__arrow" src="/local/templates/landing/img/arrows/select-arrow.svg" alt="" />
        <div class="language__select">
                          <p class="en">EN</p>
                          <p class="fl">FL</p>
                          <p class="fr">FR</p>
                      </div>
      </div>
                  <a class="link" href="/dashboard/?login=yes">LOG IN</a>
        <a class="link" href="/dashboard/?register=yes">SIGN UP</a>
                          <a class="link" >|</a>
                <a class="link js-connect-wallet" href="#">CONNECT WALLET</a>
    </div>
  </div>
</header> -->

<!-- 
<header class="header desktop">
  <nav class="header__nav">
    <a href="https://docs.metadao.gg/" target="_blank">WHITEPAPER</a>
    <a href="#units">OUR UNITS</a>
    <a href="#features">KEY FEATURES</a>
    <a href="#games">GAMES</a>
    <a href="#tokenomics">TOKENOMICS</a>
    <a href="#roadmap">ROADMAP</a>
  </nav>
  <div class="header__logo logo_shadow"><img src="/local/templates/landing/img/logo/logo.svg" alt="" /></div>
  <a href="/" class="header__logo"><img src="/local/templates/landing/img/logo/logo.svg" alt="" /></a>
  <div class="header__action">
            <div class="header__action-item">
      <div class="language">
        <p></p>
        <img class="language__arrow" src="/local/templates/landing/img/arrows/select-arrow.svg" alt="" />
        <div class="language__select">
                          <p class="en">EN</p>
                          <p class="fl">FL</p>
                          <p class="fr">FR</p>
                      </div>
      </div>
                  <a class="link" href="/dashboard/?login=yes">LOG IN</a>
        <a class="link" href="/dashboard/?register=yes">SIGN UP</a>
                          <a class="link" >|</a>
                <a class="link js-connect-wallet" href="#">CONNECT WALLET</a>
    </div>
  </div>
</header>
</div>
<div class="container">
<header class="header mobile">
  <div class="burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
        <div class="header__logo logo_shadow"><img src="/local/templates/landing/img/logo/logo.svg" alt="" /></div>
  <a href="https://metadao.gg/" class="header__logo"><img src="/local/templates/landing/img/logo/logo.svg" alt="" /></a>
  <div class="header__flex">
    <div class="language">
      <p></p>
      <img class="language__arrow" src="/local/templates/landing/img/arrows/select-arrow.svg" alt="" />
      <div class="language__select">
                      <p class="en">EN</p>
                      <p class="fl">FL</p>
                      <p class="fr">FR</p>
                  </div>
    </div>
    <a href="/dashboard/"><img src="/local/templates/landing/img/logo/persone.svg" alt="" /></a>
  </div>
</header> --> -->